html {
    height: 100%;
}

body {
    height: 100%;
}

.row {
    /*border: 2px dotted red;*/
    overflow: auto;
    margin: 5px;
}

.row-gallery {
    height: 150px;
}

.row-details {
    flex: 3;
}

.row-description {
    flex: 2;
    width: 800px;
}

.row-upload {
    height: 50px;
}

.map-container {
    width: 100%;
}

.ImageList {
    overflow: auto;
    white-space: nowrap;
    height: 100%;
}

.ImageList .item {
    height: 100%;
    display: inline-block;
    margin: 0 10px;
}

.ImageList .item img {
    max-height: 100%;
    max-width: 100%;
}

.CurrentImage {
    /*border: 2px dotted blue;*/
    height: 100%;
}

.BigImage {
    max-height: 100%;
    max-width: 100%;
}

.Exif {
    font-size: 10pt;
}
.Exif .Name {
    font-weight: bold;
}    

/*.row-description {
    border: 1px;
    border-color: blue;
    font-size: 14pt;
}*/

.Gmap iframe {
    width: 100%;
    height: 100%;
}

.Descr {
    max-width: 60%;
    border: 1px solid black;
    text-align: left;
}

.Descr .CodeMirror {
    min-height: 0;
    height: calc(100% - 51px);
}

.BtnMore {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 4px;
    position: absolute;
    left: 40%;
}

.Btn {
    border: 1px solid black;
}

/*.Btn:hover {
    font-weight: bold;
    border: 2px solid black;
}*/