html {
    height: 100%;
}

body {
    height: 100%;
}

.row {
    border: 2px dotted red;
    overflow: auto;
    margin: 5px;
}

.row-gallery {
    height: 150px;
}

.row-details {
    flex: 3;
}

.row-description {
    flex: 2;
    width: 800px;
}

.row-upload {
    height: 50px;
}

.map-container {
    width: 100%;
}

.ImageList {
    overflow: auto;
    white-space: nowrap;
}

.ImageList .item {
    height: 100%;
    display: inline-block;
    margin: 0 10px;
}

.ImageList .item img {
    height: 100%;
    width: 100%;
}

.CurrentImage {
    border: 2px dotted blue;
    height: 100%;
}

.BigImage {
    max-height: 100%;
    max-width: 100%;
}

.Exif {
    font-size: 14pt;
}

/*.row-description {
    border: 1px;
    border-color: blue;
    font-size: 14pt;
}*/

.Gmap iframe {
    width: 100%;
    height: 100%;
}

.Descr {
    /*height: 100%;*/
}

.Descr textarea {
    /*height: 100%;*/
    /*width: 100%;*/
    /*max-width: 300px;*/
}    

.Btn {
    border: 1px solid black;
}

.Btn:hover {
    font-weight: bold;
    border: 2px solid black;
}