html {
    height: 100%;
}

body {
    height: 100%;
    border: 1px;
    border-color: magenta;
}

/*div {
    border: 1px solid magenta !important;
}*/

.row-gallery {
}

.row-gallery .item {
    height: 200px;
    width: 200px;
}

.row-gallery .item img {
    max-height: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row-scrollbar {
    flex: 1;
}

.row-details {
    height: 600px;
}

.row-description {
    flex: 1;
}

.row-upload {
    height: 50px;
}

.map-container {
    width: 100%;
}
